@import "tailwindcss";

@theme inline {
  --color-background: #0f172a;
  --color-card: #1e293b;
  --color-primary: #ff5722;
  --color-accent: #673ab7;
  --color-text: #f8fafc;
}

body {
  color: var(--color-text);
  background: var(--color-background);
}
